@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// Light Grey
$light-grey       : #F2F3F5;
$light-grey-2     : #EBEBEB;
$light-grey-3     : #F7F4F4;
$light-grey-4     : #AAAAAA;
$light-grey-5     : #F2F3F5;

// Dark grey
$dark-grey   : #4C515A;
$dark-grey-2 : #222222;
$dark-grey-3 : #333333;
$dark-grey-4 : #393939;
$dark-grey-5 : #181818;

// General Colors
$white       : #fff;
$light-blue  : #21557C;
$light-green :#A8CF45;
$maxwidth    : 90%;