.card {
    padding           : 1.9rem;
    -webkit-box-shadow: 0 6px 6px -6px #777;
    -moz-box-shadow   : 0 6px 6px -6px #777;
    box-shadow        : 0 6px 6px -6px #777;
    height            : 100%;
}

